
*{
	padding: 0px;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}



html,body{
    font-family: 'Kaushan Script', cursive;;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

h1,h2,h3{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/830-1600x900.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: Montserrat;
}
.links {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 60px;
    padding: 12px 0px 0px 40px;
}
.logo {
    font-size: 28px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-family: Montserrat;
}
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: -1rem;
    padding: 0px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 2rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  .hamburger{
    display: none;
    height: 65px;
    width: 65px;

}
  

.pages{
    display: flex;
}
.menu1 {
    font-family: 'Kaushan Script', cursive;;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
}
.menu1:nth-child(6) {
    color:yellow;
    font-family: 'Kaushan Script', cursive;
}
.menu1:hover {
    color:yellow;
    font-family: 'Kaushan Script', cursive;
}


.soc a:hover {
    transform: scale(1.4);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: 'Kaushan Script', cursive;
}
.social {
    display: inline-block;
    margin-left: 10px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 265px 0px 0px 0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-200px;
    margin-left: 22px;

}

.main{
    display: none;
    position: relative;
    height: 25px;
    width: 25px;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    flex-direction: column;
    width: 60%;
    font-family: Montserrat;
    font-size: 28px;

}
.button{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-family: Montserrat;
    font-size:22px;
    border:solid white;
    margin: 24px 0px 0px 0px;
    border-radius: 15px;

    
}
.open{
    display: none;
    position: relative;
    height: 85px;
    width: 85px;

}

@media (max-width: 960px) {

    .social {
        display: none;
    }
    .link-container {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .logo {
        font-size: 20px;
        width: 100%;
    }

}
@media (max-width: 730px) {
   .link-container{
       display: none;
   }
   .menu1 {
       display: flex;
       cursor: pointer;
       margin-right: 40px;
   }
   .hamburger{
    display: flex;
    cursor: pointer;
    margin-right: 40px;
}
}
