
*{
	padding: 0px;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}



html,body .stage, .ring, .img{
    font-family: 'Kaushan Script', cursive;;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    transform-style: preserve-3d;
  user-select:none;
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

h1,h2,h3{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/835-1600x900.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: Montserrat;
}

.container {
    /*на сколько центр карусели будет виртуально уедет вглубь монитора*/
    perspective: 2000px;
    width: 300px;
    height: 400px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    
  }
  .img{
    position: absolute;
  }
  .ring{
    position: absolute;
  }
.links {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 60px;
    padding: 12px 0px 0px 40px;
}
.logo {
    font-size: 28px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-family: Montserrat;
}
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: -1rem;
    padding: 0px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 2rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  .hamburger{
    display: none;
    height: 65px;
    width: 65px;

}
  

.pages{
    display: flex;
}
.menu1 {
    font-family: 'Kaushan Script', cursive;;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
}
.menu1:nth-child(4) {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.menu1:hover {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.url a:hover {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.soc a:hover {
    transform: scale(1.4);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: 'Kaushan Script', cursive;
}
.social {
    display: inline-block;
    margin-left: 10px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 265px 0px 0px 0px;
}

.text {
    color:#B38CF3;
    font-size: 32px;
    text-align: justify;
    line-height: 1.5;
    width: 30%;
    margin-bottom: 30px;
}
.open{
    display: none;
    position: relative;
    height: 85px;
    width: 85px;

}

.main{
    display: none;
    position: relative;
    height: 25px;
    width: 25px;
}
.line-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
  }
  .img-container {
    display: flex;
    transition: all ease 1s;
    cursor: grab;
  }
  
  .hide {
    display: none;
  }
  
  
  .buttons-cont-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
  }
  .left-arrow {
    width: 50px;
    height: 50px;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transition: all ease 0.5s;
    display: flex;
  }
  .right-arrow {
    width: 50px;
    height: 50px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transition: all ease 0.5s;
    display: flex;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.1);
    transition: all ease 0.5s;
  }
  .wrapper {
    display: flex;
    max-width: 71.7%;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
  }
 

  
@media (max-width: 960px) {
    .social {
        display: none;
    }
    .link-container {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .logo {
        font-size: 20px;
        width: 100%;
    }

}
@media (max-width: 730px) {
   .link-container{
       display: none;
   }
   .menu1{
       display: flex;
       cursor: pointer;
       margin-right: 40px;
   }
   .hamburger{
    display: flex;
    cursor: pointer;
    margin-right: 40px;
   }
    .line-container{
        flex: 50.0%;
    }

}
@media (max-width: 530px) {
    .line-container{
        flex:100%
    }
}
