
*{
	padding: 0px;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}



html,body{
    font-family: 'Kaushan Script', cursive;;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

h1,h2,h3{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/836-1600x900.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: Montserrat;
}
.links {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 60px;
    padding: 12px 0px 0px 40px;
}
.logo {
    font-size: 28px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-family: Montserrat;
}
h10{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    color:black;
    border:1px solid black;
    margin-bottom: 20px;
    background-color:white;
    font-family: Montserrat;
    font-weight: 2px;
}
h10 {
    text-shadow:
      1px 1px white,
      2px 2px #777;
    color: rgb(0, 0, 0);
    transition: all 1s;
  }
  
  h10:hover {
    text-shadow:
      1px 1px white,
      2px 2px tomato;
    color: crimson;
  }
.butt {

	text-decoration: none;

	color: black;
    font-weight: 200;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);

	display: inline-block;

	padding: 10px 5px;

	border: 1px solid;

	position: relative;

	z-index: 0;

	border-radius: 5px;

	box-sizing: border-box;

	margin: 0 15px 15px 0;

	outline: none;

	cursor: pointer;

	user-select: none;

	appearance: none;

	touch-action: manipulation;  

}

.butt:before {

	content: '';

	position: absolute;

	left: -2px;

	top: -2px;

	width: calc(100% + 4px);

	height: calc(100% + 4px);

	background: linear-gradient(90deg, #fd7f34, #bd155b);

	z-index: -2;

	transition: .4s;

	border-radius: 5px;

}

.butt:after {

	content: '';

	position: absolute;

	left: 0;

	top: 0;

	width: 100%;

	height: 100%;

	background: linear-gradient(90deg, #fff, #fff);

	z-index: -1;

	transition: .4s;

	border-radius: 4px;

}

.butt:hover {

	color: #fff;

	transition: .3s;

}

.butt:hover:after {

	background: linear-gradient(90deg, #fd7f34, #bd155b);

}

.butt:active:after {

	background: linear-gradient(90deg, #d96d2d, #760f3a);

}

.butt:focus-visible {

	box-shadow: 0 0 0 3px #fd7f34;

}
.snake{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alert{
    visibility: hidden;
    color:black;
    display: block;
    border:2px solid red;
    font-size: 18px;
    margin-bottom: -12%;
    background-color:white;
    font-family: 'Kaushan Script', cursive;
}
.alert2{
    visibility: hidden;
    color:black;
    display: block;
    border:2px solid yellow;
    font-size: 20px;
    margin-bottom: 5%;
    background-color:white;
    font-family: 'Kaushan Script', cursive;
}
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: -1rem;
    padding: 0px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 2rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  .hamburger{
    display: none;
    height: 65px;
    width: 65px;

}
  
#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: -200px;
}

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game-score {
	padding: 10px 15px;
	min-width: 160px;
	height: 50px;
	background: #121214;
	border-radius: 5px;
    border:3px solid black;

	display: flex;
	justify-content: center;
	align-items: center;
}
.score-count{
	font-size: 3vmin;
	color: #cc0a0a;
	font-weight: bold;
}

.canvas-wrapper {
	background-color: #0aaf41;
	border-radius: 5px;
	border: 10px solid #000000;


}
.pages{
    display: flex;
}
.menu1 {
    font-family: 'Kaushan Script', cursive;;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
}
.menu1:nth-child(7) {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.menu1:hover {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.soc a:hover {
    transform: scale(1.4);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: 'Kaushan Script', cursive;
}
.social {
    display: inline-block;
    margin-left: 10px;
}
form{
    width: 320px;
    height: auto;
    margin: auto;
    margin-top: 2%;
}
main {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 265px 0px 0px 0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main{
    display: none;
    position: relative;
    height: 25px;
    width: 25px;
}
.button{
    color:white;
    height:52px;
    width:238px;
    border: solid white 1px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .social {
        display: none;
    }
    .link-container {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .logo {
        font-size: 20px;
        width: 100%;
    }
    .text {
        margin-top: -100px;
        height: 30%;
        width: 50%;
    }

}
@media (max-width: 730px) {
    .link-container {
        display: none;
    }
   .menu1 {
       display: flex;
       cursor: pointer;
       margin-right: 10px;
   }
   .text {
       margin-top: -100px;
       height: 50%;
       width: 90%;
   }
   .button{
    height: 70%;
    display: flex;
        justify-content: center;
        margin-right: 20px;
   }
   .hamburger{
       display: flex;
       cursor: pointer;
       margin-right: 40px;
   }
    

}
 @media (max-width: 490px) {
    .text {
       height: 30%;
       width: 40%;
    }
    .hamburger{
        display: flex;
        margin-right: 40px;
    }
    .button{
        height: 50%;
        display: flex;
            justify-content: center;
            margin-right: 20px;
    }

}
@media (max-width: 300px) {
    .text {
       height: 30%;
       width: 90%;
    }

    .button{
        height: 50%;
        display: flex;
            justify-content: center;
            margin-right: 20px;
    }
}