
*{
	padding: 2px;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: 'Kaushan Script', cursive;;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/CSS-Animated-Backgrounds-2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: Montserrat;
}
.links {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 60px;
    padding: 12px 0px 0px 40px;
}
.logo {
    font-size: 28px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-family: Montserrat;
}
.pages{
    display: flex;
}
.menu1 {
    font-family: 'Kaushan Script', cursive;;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
}
.menu1:nth-child(3) {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.menu1:hover {
    color:yellow;
    font-family: 'Kaushan Script', cursive;;
}
.soc a:hover {
    transform: scale(1.4);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: 'Kaushan Script', cursive;
}
.social {
    display: inline-block;
    margin-left: 10px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 265px 0px 0px 0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -270px;
}
.image{
    width: 704px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    margin-top: -50px;
}
.text{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: justify;
    color:white;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 1.2;
    flex-direction: column;
    margin: 30px 40px 50px 50px;
    

}

.main{
    display: none;
    position: relative;
    height: 25px;
    width: 25px;
}
.open{
    display: none;
    position: relative;
    height: 85px;
    width: 85px;

}

@media (max-width: 960px) {
    .url {
        display: none;
    }
    .social {
        display: none;
    }
    .link-container {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .logo {
        font-size: 20px;
        width: 100%;
    }
    .image{
        width: 500px;
        margin-left: -53px;

    }
}
@media (max-width: 730px) {
   .link-container{
       display: none;
   }
   .menu1 {
       display: flex;
       cursor: pointer;
       margin-right: 40px;
   }
   .text{
    font-size: 15px;
    width: 300px;
    margin-left: -73px;
   }
   .image{
    width: 300px;
    margin-left: -53px;
   }
    .open{
        display: flex;
        cursor: pointer;
        margin-right: 40px;
    }
}
